*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

body{
    width: 100%;
    min-height: 100%;
    background-color: rgb(19, 14, 14);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;

}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
    margin-top: 30px;
    
}

.btn{
font-size: 1.2em;
    padding: .8em 2em;
    border-radius: 10px;
    border: none;
    background:linear-gradient(to bottom left , #E8602E, #BA4B22);
    color: white;
    border: 1px solid #837a76;
    letter-spacing: -.5px;
    
}

.btn:active{
    scale: .97;
    background:linear-gradient(to bottom left ,#BA4B22, #E8602E);
    
}
section{
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

section .question{
    min-width: 350px;
    width: 70%;
    min-height: 50vh;
    background: linear-gradient(to top right ,rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.082));
    border: 1px solid #302c2a;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main h4{
    font-size: 2em;
    width: 70%;
    opacity: .8;
    line-height: 1.1;
    letter-spacing: -1px;
}

section p{
    font-size: 2em;
}

/* task2 css */
.box{
    height: 200px;
    width: 200px;
    background-color:rgba(255, 0, 0, 0.5);
    border-radius: 5px;
}

/* task3 css */

/* task4css */
.box4{
    height: 150px;
    width: 150px;
    transition: all ease-in-out 1s;    
}
.btns-container{
padding-top: 40px;
    display: flex;
    gap: 10px
}

/* task7 css */

#task7-input{
    height: 50px;
    width: 250px;
    font-size: 1.2em;

    padding:10px;
    background: linear-gradient(to top right ,rgba(128, 128, 128, 0.185),rgba(128, 128, 128, 0.158));
    color: white;
    border: 1px solid #302c2a;
    border-radius: 10px;
    margin-bottom: 50px;

}
.q7-p{
    text-wrap: wrap;
    text-align: center;
    margin-inline: 40px;
}

/* task 10 css */

.box10{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.red{
    background-color:rgba(255, 0, 0, 0.5);
}

.yellow{
    background-color: rgba(255, 255, 0, 0.5);
}
.green{
    background-color: rgba(0, 128, 0, 0.5);
}

/* 
@media (max-width: 600px) {
    .btns-container{
    
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: .4em;
        flex-wrap: nowrap;
    }
} */